<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gz.biz.demo.mapper.BizDemoRelationMapper">
    
    <resultMap type="BizDemoRelation" id="BizDemoRelationResult">
        <result property="id"    column="id"    />
        <result property="demoId"    column="demo_id"    />
        <result property="subName"    column="sub_name"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBizDemoRelationVo">
        select id, demo_id, sub_name, del_flag, create_by, create_time, update_by, update_time from biz_demo_relation
    </sql>

    <select id="listBizDemoRelation" parameterType="BizDemoRelation" resultMap="BizDemoRelationResult">

    </select>

</mapper>