# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# IDE & Editors
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node.js / Frontend
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm/

# Java / Maven
target/
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Logs
logs/
*.log

# Project specific
gz-python-dev/venv/
gz-python-dev/.venv/
