package ${packageName}.domain.convert;

import ${packageName}.domain.entity.${ClassName}DO;
import ${packageName}.domain.vo.${ClassName}VO;
import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;

import java.util.List;

/**
 * ${functionName} convert转换对象
 *
 * @author ${author}
 * @since ${datetime}
 */
@Mapper
public interface ${ClassName}Convert {

    ${ClassName}Convert INSTANCE = Mappers.getMapper(${ClassName}Convert.class);

    ${ClassName}VO DO2VO(${ClassName}DO DO);

    List<${ClassName}VO> DO2VOList(List<${ClassName}DO> DOList);

}
