package ${packageName}.domain.entity;

import com.baomidou.mybatisplus.annotation.*;
import lombok.Data;

import java.util.Date;

/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @since ${datetime}
 */
@Data
@TableName("${tableName}")
public class ${ClassName}DO implements Serializable {
    private static final long serialVersionUID=1L;

#foreach ($column in $columns)
    /**
     * $column.columnComment
     */
    #if($column.list)
        #set($parentheseIndex=$column.columnComment.indexOf("（"))
        #if($parentheseIndex != -1)
            #set($comment=$column.columnComment.substring(0, $parentheseIndex))
        #else
            #set($comment=$column.columnComment)
        #end
    #end
    #if($column.columnName=="create_by" || $column.columnName=="create_time" || $column.columnName=="create_name")
    @TableField(value = "$column.columnName", fill = FieldFill.INSERT)
    private $column.javaType $column.javaField;

    #elseif( $column.columnName=="update_time" || $column.columnName=="update_by" || $column.columnName=="update_name")
    @TableField(value = "$column.columnName", fill = FieldFill.UPDATE)
    private $column.javaType $column.javaField;

    #elseif( $column.columnName=="version")
    @Version
    @TableField("$column.columnName")
    private $column.javaType $column.javaField;

    #elseif( $column.columnName=="id")
    @TableId(type = IdType.AUTO)
    private $column.javaType $column.javaField;

    #elseif( $column.columnName=="del_flag")
    @TableField("$column.columnName")
    @TableLogic
    private $column.javaType $column.javaField;

    #else
    @TableField("$column.columnName")
    private $column.javaType $column.javaField;

    #end
#end
}