package ${packageName}.mapper;

import com.github.yulichang.base.MPJBaseMapper;
import ${packageName}.domain.entity.${ClassName}DO;

/**
 * ${functionName}Mapper接口
 * 
 * @author ${author}
 * @since ${datetime}
 */
public interface ${ClassName}Mapper extends MPJBaseMapper<${ClassName}DO> {

}
