package ${packageName}.service;

import com.github.yulichang.base.MPJBaseService;
import ${packageName}.domain.entity.${ClassName}DO;

/**
 * ${functionName}Service接口
 * 
 * @author ${author}
 * @since ${datetime}
 */
public interface I${ClassName}Service extends MPJBaseService<${ClassName}DO> {

}
