package ${packageName}.service.impl;

import javax.annotation.Resource;
import com.github.yulichang.base.MPJBaseServiceImpl;
import org.springframework.stereotype.Service;
import ${packageName}.mapper.${ClassName}Mapper;
import ${packageName}.domain.entity.${ClassName}DO;
import ${packageName}.service.I${ClassName}Service;

/**
 * ${functionName}Service业务层处理
 * 
 * @author ${author}
 * @since ${datetime}
 */
@Service
public class ${ClassName}ServiceImpl extends MPJBaseServiceImpl<${ClassName}Mapper, ${ClassName}DO> implements I${ClassName}Service {
    @Resource
    private ${ClassName}Mapper ${className}Mapper;

}
