package ${packageName}.domain.vo;

#foreach ($import in $importList)
import ${import};
#end
import lombok.Data;

import java.io.Serializable;
import java.util.Date;

/**
 * ${functionName} VO对象
 * 
 * @author ${author}
 * @since ${datetime}
 */
@Data
public class ${ClassName}VO implements Serializable {
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
    /**
     * $column.columnComment
     */
    private $column.javaType $column.javaField;

#end
}
